*.md linguist-documentation
*.png linguist-generated
*.jpg linguist-generated
*.gif linguist-generated
*.1 linguist-detectable=false
*.man linguist-detectable=false
LICENSE linguist-detectable=false
README.md linguist-language=Markdown
docs/* linguist-detectable=false
asset/* linguist-detectable=false
